*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

h1{
    color: deeppink;
}

h3{
    color: white;
}

a{
    color:aqua;
}

.p2{
    color: white;
}

.div-titolo {
    margin: 50px auto 0px;
    width: 80%;
    max-width: 960px;
    text-align: center;
}

.div-par {
    margin: 50px auto 0px;
    width: 80%;
    max-width: 960px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    justify-content: space-around;
    
}

.team{
    margin: 20px;
    text-align: center;
    width: calc(20% - 40px);
    min-width: 400px;
    max-height: 100px;
    background-color: rgb(4, 4, 39);
    
}

.img-fit{
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1 / 1;
}

.flex{
    display: flex;
}

main{
    width: 80%;
    margin: auto;
}